<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sản Phẩm</h1>
</div>
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm
                <a class="btn btn-primary" [routerLink]="['/admin/add-banner']" routerLinkActive="router-link-active">Thêm</a></h6>
        </div>
        <div class="card-body">
            <div *ngIf="banners" class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Tiêu đề</th>
                            <th>image</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>id</th>
                            <th>Tiêu đề</th>
                            <th>image</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let banner of banners | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td> {{ banner.id }} </td>
                            <td>
                                <p>
                                    <button type="button" class="btn" (mouseover)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                        {{ banner.name }}
                                    </button>
                                </p>
                                <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                    <a class="btn btn-info" [routerLink]="['../../banner-detail', banner.id]"><i class="fas fa-eye"></i></a> &nbsp;
                                    <a class="btn btn-warning" [routerLink]="['/admin/edit-banner', banner.id]"><i class="fas fa-edit"></i></a> &nbsp;
                                    <button class="btn btn-danger" (click)="delBanner(banner.id)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </td>
                            <td><img height="50px" src="{{banner.img}}" alt=""></td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="banners.length"></ngb-pagination>
            </div>
        </div>
    </div>

</div>