<!-- Products grid (Trending products)-->
<section class="container pt-md-3 pb-5 mb-md-3">
    <h2 class="h3 text-center">Trending products</h2>
    <div class="row pt-4 mx-n2">
        <!-- Product-->
        <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">
                <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button>
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/product-detail', product.id]"><img [src]="product.img" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#"> {{product.desc}} </a>
                    <h3 class="product-title font-size-sm"><a [routerLink]="['/product-detail', product.id]"> {{product.name}} </a></h3>
                    <div class="d-flex justify-content-between">
                        <div class="product-price"><span class="text-accent"> {{product.price}} </span></div>
                        <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-hidden">
                    <div class="text-center pb-2">
                        <div class="custom-control custom-option custom-control-inline mb-2">
                            <input class="custom-control-input" type="radio" name="size1" id="s-75">
                            <label class="custom-option-label" for="s-75">7.5</label>
                        </div>
                        <div class="custom-control custom-option custom-control-inline mb-2">
                            <input class="custom-control-input" type="radio" name="size1" id="s-80" checked>
                            <label class="custom-option-label" for="s-80">8</label>
                        </div>
                        <div class="custom-control custom-option custom-control-inline mb-2">
                            <input class="custom-control-input" type="radio" name="size1" id="s-85">
                            <label class="custom-option-label" for="s-85">8.5</label>
                        </div>
                        <div class="custom-control custom-option custom-control-inline mb-2">
                            <input class="custom-control-input" type="radio" name="size1" id="s-90">
                            <label class="custom-option-label" for="s-90">9</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm btn-block mb-2" type="button" data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Add to Cart</button>
                    <div class="text-center"><a class="nav-link-style font-size-ms" href="#quick-view" data-toggle="modal"><i class="czi-eye align-middle mr-1"></i>Quick view</a></div>
                </div>
            </div>
            <hr class="d-sm-none">
        </div>
    </div>
    <div class="text-center pt-3"><a class="btn btn-outline-accent" href="shop-grid-ls.html">More products<i class="czi-arrow-right ml-1"></i></a></div>
</section>

<div class="row">
    <!-- <app-item-product ngClass="col-lg-4 col-md-6 mb-4"></app-item-product>
    <app-item-product ngClass="col-lg-4 col-md-6 mb-4"></app-item-product>
    <app-item-product ngClass="col-lg-4 col-md-6 mb-4"></app-item-product> -->
    <div *ngFor="let product of products" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <!-- cách 1 -->
            <!-- <a href="#"><img class="card-img-top" src="{{ product.img }}" alt=""></a> -->
            <!-- Cách 2 -->
            <a href="#"><img class="card-img-top" [src]="product.img" alt="" /></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{ product.name }}</a>
                </h4>
                <h5>{{ product.price }}</h5>
                <p class="card-text">{{ product.desc }}</p>
                <p class="cart-text">{{ product.status ? "Còn hàng" : "Hết hàng" }}</p>
                <!-- cấu trúc event
                - (event-name)="method($event) -->
                <button class="btn btn-warning" (click)="detailProduct(product)">Chi tiết</button>
                <button class="btn btn-danger" (click)="removeIttem(product.id)">Xóa</button>
                <!-- cách 1 -->
                <!-- <input type="text " (keyup)="changeTitle($event) "> -->
                <!-- cách 2 -->
                <!-- <form action=" ">
                    <input type="text " [(ngModel)]="product.name" name="name " />
                    <input type="text " [(ngModel)]="product.desc" name="desc " />
                </form> -->
                <!-- <input type="text " [(ngModel)]="product.name "> -->
            </div>
            <div class="card-footer ">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="selected">
    {{selected.name}} -->
<!-- Cách 1: Gọi trực tiếp từ file item ts -->
<!-- <app-item-product [itemProduct]="selected"></app-item-product> -->
<!-- cách 2: gọi thông qua keyword -->
<!-- <app-item-product [data]="selected"></app-item-product> -->
<!-- </div> -->